.container{
	display: block;
	min-width: 650px;
	margin-left: 5;
	margin-right:5;
	border: 2px solid blue;
	border-radius: 15px;
	background-color: #FCF9D3;
	padding: 40px;
	font-family: Yu Gothic Medium;
	}
body{
	margin-left: 200px;
	margin-right: 200px;
	margin-top:100px;
	height:100%;
	margin-bottom:100px;
}

img{
	border-style: solid;
	border-color: lightblue;
	border-radius:5%;
	position: relative;
	bottom:62px;
	right: 20px;
	
	
}

#PI&Address{
		max-height:100%;
		max-width:100%;
}
.pageContent{
	border-radius:0px;
	border-color: black;
	padding:0;
}
li{
	color:#585858;
	font-size: 20px;
}
hr{
	background-color: #81BEF7;
	height: 2px;
	border-top-right-radius:50px;
	border-top-left-radius:50px;
}
a.myEmail:hover{
	color:#0F0;
}
a.myEmail:visited{
	
	color:yellow;
}
a.myEmail:active{
	
	color:#FF0;
}

#myName{
	background-color: #2E9AFE;
	color: white;
	padding: 10px;
	padding-left: 25px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

/* Main Content*/
.mainContent h3{
	font-size: 22px;
	color:blue;
}
.mainContent li{
	font-size: 18px;
}

/* Education*/
.education{
	width: 100%;
	height:100%;
	float:left;
}
#JPA{
	background-color:#FCF9D3;
	min-height:100px;
	width:500px;
	float: left;
	width:50%;
	height: 100%;
	position: relative;
	left:30px;
	
}
#STIU{
	background-color:FCF9D3;
	min-height:100px;
	width:500px;
	float:right;
	width:50%;
	height:100%;
	position: relative;
	right:15px;
}
.volunteer{
	width: 100%;
	height:100%;
	float:left;
}
.interests li{
	width: 100%;
	height:100%;
}
.subTitle{
	font-family: Segoe UI Black;
	color: #81BEF7;
}

